<?xml version='1.0' encoding='utf-8'?>
<plugin id="mmi.setter" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>setter</name>
<js-module name="Setter" src="www/Setter.js">
  <clobbers target="cordova.plugins.Setter" />
</js-module>
<platform name="android">
  <config-file parent="/*" target="res/xml/config.xml">
  <feature name="Setter">
    <param name="android-package" value="mmi.setter.Setter" />
  </feature>
  </config-file>
  <config-file parent="/*" target="AndroidManifest.xml"></config-file>
  <source-file src="src/android/Setter.java" target-dir="src/mmi/setter/Setter" />
</platform>
</plugin>
